<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongji.enso.mybatisdemo.mapper.online.ObservationMapper">

    <select id="findByYearAndMonth" resultType="Observation">
        select * from observation where year= #{year} and month= #{month}
    </select>

    <select id="findAllAfterYearAndMonth" resultType="Observation">
        select * from observation where (month>#{month} and year= #{year}) or year> #{year}
    </select>
</mapper>